<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark position-fixed w-100 menu">
            <ul class="col-12 nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Equipo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resumen</a>
                </li>
              </ul>
        </div>
        <div id="app" class="row justify-content-center">
            <div class="col-sm-12 col-md-8 mt-5">
                <h1 class="h2">Perfil Usuario</h1>
                <div class="form-horizontal">
                    <div class="col-12">
                        <label for="nombre">Nombre </label> 
                        <input class="form-control" v-model="usuario.nombre">
                    </div>
                    <div class="col-12">
                        <label for="apellido">Apellido</label>
                        <input class="form-control" v-model="usuario.apellido">
                    </div>
                    <div class="col-12">
                        <label for="edad">Edad: </label>
                        <input class="form-control" v-model="usuario.edad">
                    </div>
                    <div class="col-12">
                        <label for="nickname">Nickname: </label>
                        <input class="form-control" v-model="usuario.nickname">
                    </div>
                    <div class="col-12 my-2">
                        <button class="btn btn-success" @click="guardar">Salvar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <hr>
                <h1>Resumen</h1>
                <div class="row justify-content-center">
                    <span class="col-sm-12 col-md-6 mb-2">Nombre : {{usuario.nombre}}</span>
                    <span class="col-sm-12 col-md-6 mb-2">Apellido : {{usuario.apellido}}</span>
                    <span class="col-sm-12 col-md-6 mb-2">Edad : {{usuario.edad}}</span>
                    <span class="col-sm-12 col-md-6 mb-2">NickName : {{usuario.nickname}}</span>
                    <button type="buttom" class="col-sm-12 col-lg-6 btn btn-danger" data-toggle="modal" data-target="#ModalEliminar">Eliminar</button>
                </div>
                <!-- Modal de confirmacion-->
                <div class="modal fade" id="ModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Desea eliminarlo?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-danger" @click="eliminar" data-dismiss="modal">Si, de acuerdo</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <span></span>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
<script src="bootstrap/js/jquery-3.4.1.slim.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</html>